<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-withh, initial-scale=1">
    <title>Notifications</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <section id="description">
      <h1>Notifications</h1>

    </section>

    <section id="select-notification">
      <h3>Select ID</h3>

      <p>
        Select an ID number to view information about a particular notification.
      </p>

      <form id="get-notification">
        <label for="notification-id">
          Select an ID number:
        </label>
        <select id="notification-id" name="notification_id">
          <option value="">Choose an ID</option>
          {% for n in range(1, 2) %}
         <!--  range is plus one from the highest number -->
            <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
        </select>
        <input type="submit">
      </form>

            <h3>Notification Info</h3>

      <table>
      <tr>
        <th>Checklist ID</th>
        <th>Date Sent to Review</th> 
        <th>Reviewer</th>
        <th>Reviewer Email</th>
        <th>Date Review Complete</th>
        <th>Date Sent to Recipient</th>
        <th>Recipient</th>
        <th>Recipient Email</th>
      </tr>
      <tr>
        <td id="checklistid">Unknown</td>
        <td id="datesenttoreview">Unknown</td>
        <td id="reviewerfullname">Unknown</td>
        <td id="revieweremail">Unknown</td>
        <td id="datereviewcomplete">Unknown</td>
        <td id="datetorecipient">Unknown</td>
        <td id="recipientfullname">Unknown</td>
        <td id="recipientemail">Unknown</td>
      </tr>
      </table>
    </section>

    <script src="/static/ajax.js"></script>
  </body>
</html>
